# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Environment
.env
.env.backup
.env.production
.env.*.local

# IDE / OS
.idea
.vscode
.fleet
.zed
.DS_Store
Thumbs.db

# Logs & caches
*.log
.cache
.eslintcache
.stylelintcache
.npm
*.tsbuildinfo
